body{
    height: 100vh;
}

.designer{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 55%;
}

.design-model{
    width: 50%;
}

Canvas{
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 20rem;
    width: 0.05rem;
}